<app-container>

  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  </head>

  <app-cabecalho></app-cabecalho>

  <input type="search" placeholder="Digite para buscar" [(ngModel)]="filtroPorTexto" />

  @for (letra of alfabeto; track letra){
  <app-separador>
    {{ letra }}
  </app-separador>
  @for(contato of filtrarPorLetraInicial(letra); track contato){
  <app-contato [nome]="contato.nome" [telefone]="contato.telefone"></app-contato>
  }
  }

</app-container>
